@import "tailwindcss";

@theme {
  /* PALETTE BRAND KAT3X (Cyber Emerald - RGB) */

--color-brand-50: rgb(232, 251, 241);
--color-brand-100: rgb(201, 244, 222);
--color-brand-200: rgb(158, 234, 197);
--color-brand-300: rgb(100, 218, 163);
--color-brand-400: rgb(48, 195, 131);
--color-brand-500: rgb(15, 160, 99);
--color-brand-600: rgb(4, 114, 77);   /* Il tuo nuovo colore base */
--color-brand-700: rgb(3, 90, 62);
--color-brand-800: rgb(2, 70, 48);
--color-brand-900: rgb(1, 55, 38);
--color-brand-950: rgb(0, 30, 21);


  /* RADIAL GRADIENTS (Glow Effects)
     Utilizzano i verdi brand con opacità variabile per non coprire il testo 
  */

  --bg-smart-glow: radial-gradient(
      ellipse at center, 
      rgba(87, 199, 133, 0.8) 0%, 
      rgba(87, 199, 133, 0) 70%
    );
}

